<!DOCTYPE html>
<html>
  <head>
    <title> <%= title %> </title>
  </head>

  <body>
    <h1><%= title %></h1>
    <% if (user) { %>
        <h2>Welcome to the forum, <%= user.username %></h2>
        <a href="/newPost">Create a new post</a>
        <a href="/posts">View all posts</a>
        <a href="/clubMember"> Become a club member! </a>
        <a href="/logOut">Logout</a>
    <% } else { %>
        <p> Welcome to the forum. Please log in. </p>
        <form action="/logIn" method="post">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Log in</button>
        </form>
        <p> Or sign up if you do not have an account </p>
        <a href="/signUp">Sign up</a>
    <% } %>
  </body>

</html>